DB_HOST=your_rds_host
DB_USER=your_rds_user_password
DB_PASS=your_rds_password
DB_NAME=your_rds_database_name

DEBUG_MODE=false

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=your_aws_region
AWS_S3_BUCKET=your_aws_s3_bucket
S3_ENDPOINT=your_aws_s3_endpoint(optional)